body {
  width: 600px;
  margin: 20px auto;
  background-color: #1b067a;
  padding: 20px;
  border: 5px solid black;
  color: white;
}
h1 {
  font-size: 38px;
  text-align: center;
  margin-top: 30px;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
h3 {
  font-size: 16px;
}
p,
li {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.5px;
}
ul {
  padding-left: 20px;
}
img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
  border-radius: 8px;
  border: 2px solid white;
}
footer {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.8;
}